#container {
  height: 500px;
  display: flex;
  background-color: seagreen;
  flex-direction: column;
}

.sub-container {
  background-color: red;
  background-color: mediumturquoise;
  margin: 1px;
}
